@import url("nullstyle.css");
@font-face {
	font-family: "Bravo RG";
	src: url('../fonts/ofont.ru_BravoRG.eot');
	src: url('../fonts/ofont.ru_BravoRG.woff') format('woff'), url('../fonts/ofont.ru_BravoRG.ttf') format('truetype'), url('../fonts/ofont.ru_BravoRG.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('../fonts/ofont.ru_PF Din Text Cond Pro.eot');
	src: local('☺'), url('../fonts/ofont.ru_PF Din Text Cond Pro.woff') format('woff'), url('../fonts/ofont.ru_PF Din Text Cond Pro.ttf') format('truetype'), url('../fonts/ofont.ru_PF Din Text Cond Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ceremonious One';
	src: url('../fonts/ofont.ru_Ceremonious One.eot');
	src: local('☺'), url('../fonts/ofont.ru_Ceremonious One.woff') format('woff'), url('../fonts/ofont.ru_Ceremonious One.ttf') format('truetype'), url('../fonts/ofont.ru_Ceremonious One.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
    scroll-behavior: smooth;
}

body, a {
    color: #000;
}

.container {
    max-width: 979px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background-color: #1c242a;
    height: 75px;
    text-transform: uppercase;
    &__wp {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        padding-bottom: 12px;
    }
    &__link {
        color: #fff;
        margin: 0 14px;
    }
    &__region {
        color: #fff;
        height: 18px;
        display: flex;
        align-items: center;
        img {
            margin-right: 11px;
        }   
    }
}

.subtitle {
    text-align: center;
    color: #bb9c66;
    font-family: "Ceremonious One";
    font-size: 40px;
    font-weight: 400;
}

.title {
    color: #000;
    font-family: "PF Din Text Cond Pro";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.25px;
    text-align: center;
    &--white{
        color: #fff;
    }
    &--small {
        font-size: 18px;
    }
}

.text {
    color: #fff;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.button {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #bb9c66;
    border-image: linear-gradient(#c3a775 , #8d642e);
    border-image-slice: 1;
    background: transparent;
    &:hover {
        background-color: #bb9c66;
        transition: background-color ease 0.3s;  
    }
    &:active {
        background-color:#8d642e;
        transition: background-color ease 0.3s;  
    }
}


.main {
    &__wp {
    height: 450px;
    width: 100%;
    background-image: url(../img/main__bg.png); 
    background-color: #000;
    text-align: center;
    position: relative;
    }
    &__subtitle {
        padding-top: 34px;
    }
    &__title {
        padding-top: 24px;
    }
    &__text {
        padding-top: 27px;
        max-width: 688px;
        margin: 0 auto;
    }
    &__button {
        margin-top: 58px;
        width: 250px;
        height: 50px;

        font-family: "Idealist Sans";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            background-color: #8d642e;
            transition: background-color ease 0.2s;
        }
        &:active {
            background-color:#775427;
            transition: background-color ease 0.3s;  
        }
    }
    &__figure {
        position: absolute;
        z-index: 2;
        bottom:-35px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.figure {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: block;
}

.auction {
    text-align: center;

    padding-top: 55px;
    &__lots-wp {
        width: 949px;
        overflow: hidden;
    }
    &__lots {
        width: 949px + 949px + 949px;
        position: relative;
        left: 0;

        transition: left ease 0.5s;
    }
    &__subtitle {
        padding-top: 10px;
    }
    &__title {
        padding-top: 27px;
        color: #000;
    }
    &__lots {
        padding-left: 22px;
        padding-top: 49px;
        display: flex;
        justify-content: space-between;
    }
    &__lot {
        color: #000;
        flex: 0 1 255px*100%/(949px + 949px + 949px);
    }
    &__nav {
        margin-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            margin: 0 2.5px;
        }
    }
}
.border {
    text-align: center;
    padding-top: 21px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    & div:nth-child(3) {
        flex: 0 1 15.8%;
    }
    & .line {
        flex: 0 1 35.3%;
        height: 1px;
        background-color: #bb9c66;
    }
}
.lot {
    &__photo {
        height: 255px;
        border: 2px solid #bb9c66;
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: #bb9c66;
            transition: all ease 0.3s;  
        }
    }
    &__figure {
        position: absolute;
        z-index: 2;
        bottom:-35px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    &__name {
        height: 100px;
        padding-top: 30px;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
    }
    &__price {
        margin-top: 30px;
        height: 100px;
        color: #1c242a;
        font-family: "Bravo RG";
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        line-height: 100px;
        & span {
            font-size: 14px;
        }
    }
    &__button {
        margin-top: 24px;
        width: 203px;
        height: 50px;
        color: #000;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.price {
    &1--bg {
        background-image: url(../img/lots/bg-lot-1.png);
    }
    &2--bg {
        background-image: url(../img/lots/bg-lot-2.png);
    }
    &3--bg {
        background-image: url(../img/lots/bg-lot-3.png);
    }
}

.auction__lots-wrapper {
    position: relative;
}
#button-left {
    position: absolute;
    top: 50%;
    left: -65px;
    transform: translateY(50%);
}
#button-right {
    position: absolute;
    top: 50%;
    right: -65px;
    transform: translateY(50%);
}
.items {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    &__wp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title {
        padding: 40px 0;
    }
    &__decor {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #bb9c66;
    }
}
.item {
    margin-bottom: 30px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: #443c3c;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 25px;
    &:hover {
        background-color: #947b7b;
        transition: background-color ease 0.3s;   
    }
    &__icon {
        
    }
    &__name {
        padding-top: 30px;
        color: #bb9c66;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.1px;
    }
}
#item {
    &1 {
    background-image: url(../img/items/bg1.png);
    }
    &2 {
    background-image: url(../img/items/bg2.png);
    }
    &3 {
    background-image: url(../img/items/bg3.png);
    }
    &4 {
    background-image: url(../img/items/bg4.png);
    }
    &5 {
    background-image: url(../img/items/bg5.png);
    }
    &6 {
    background-image: url(../img/items/bg6.png);
    }
}

.info {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    &__wp {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__text {
        padding-top: 12px;
        padding-left: 40px;
        color: #333333;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
}

.services {
    margin-top: 77px;
    padding-top: 61px;
    background-color: #1c242a;
    &__title {
        padding-top: 33px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__border {
        margin-bottom: 49px;
    }
}
.service {
    text-align: center;
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__name {
        padding-top: 38px;
    }
    &__text {
        padding-top: 31px;
        color: #bb9c66;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
    &__button-wp {
        padding-top: 35px;
        margin-bottom: 102px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    &__decor {
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: #bb9c66;
    }
}
.quote {
    padding-top: 64px;
    &__title {
        padding-top: 25px;
    }
    &__slider-wp {
    }
    &__slider {
        display: flex;

    }
    &__portrait {
        padding-left: 15px;

    }
    &__info {
        width: 783px;
        margin: 60px 0 0 60px;
        position: relative;
    }
    &__author {
        font-family: "PT Sans";
        line-height: 20px;
        position: absolute;
        top: 70px;
        left: 0;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bd {
        width: 107px;
        height: 2px;
        background-color: #bb9c66;
    }
    &__circle {
        margin: 0 4px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 1px solid #bb9c66;
    }
    &__button {
        padding: 0 50px;

        & img:hover {
            border-radius: 100%;
            background-color: rgb(247, 243, 239);

            transition: background-color ease 0.2s;
        }
    }
    &__text {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        font-family: "PT Sans";
        font-size: 25px;
        font-style: italic;
        &--active {
            display: block;
        }
    }
    
}

.news {
    padding-top: 75px;
    &__wp {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-left {
        flex: 0 1 45%;
    }
    &-right {
        flex: 0 1 45%;
    }
    &__name {
        padding-top: 15px;
        text-align: start;
        img {
            margin-right: 15px;
        }
    }
    &__block {
        padding-top: 30px;
    }
    &__date {
        color: #bb9c66;
        font-family: "PT Sans - Regular";
        font-size: 12px;
        font-weight: 400;

        line-height: 25px;
    }
    &__title {
        font-family: "PT Sans";
        font-weight: 700;
        text-decoration: underline;

        line-height: 25px;
    }
    &__text {
        color: #333333;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
    }
    &__subscribe {
        padding-top: 57px;
        width: 100%;
        height: 100%;
    }
}
.subscribe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    &__text {
        flex: 0 1 45%;
        color: #333333;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
    }
    &__form {
        margin-top: 23px;
        flex: 0 1 45%;
        width: 400px;
        height: 50px;
        border: 3px solid #bb9c66;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input {
        padding-left: 26px;
        height: 100%;
        color: #4f4f4f;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
    &__btn {
        margin-right: 4px;
        vertical-align: middle;
        width: 78px;
        height: 32px;
        background: url(../img/news__btn.png) no-repeat;
        cursor: pointer;
       }
}

.footer {
    background-color: #1c242a;
    width: 100%;
    &__wp {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__txt {
        flex: 0 1 27%;
    }
    &__nav {
        flex: 0 1 50%;
    }
    &__feedback {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__text {
        color: #bb9c66;
        font-family: "PT Sans";
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
    }
    &__link {
        padding-right: 10px;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro";
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    &__phone {
        color: #bb9c66;
        font-family: "Bravo RG";
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        span {
            font-size: 24px;
            vertical-align: text-top;
            position: relative;
            top: 4px;
        }
    }
    &__btn {
        width: 100%;
        padding-left: 4px;
        color: #bb9c66;
        font-family: "PT Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: right;
        img {
            position: relative;
            top: 4px;
            right: 4px;
        }
        span {
            border-bottom: 1px dashed #bb9c66;
        }
    }
}

.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 6;
}
.header__burger span {
    position: absolute;
    background-color: #bb9c66;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
}
.header__burger:before,
.header__burger:after{
    content: '';
    background-color: #bb9c66;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
}
.header__burger:before{
    top: 0;
}
.header__burger::after {
    bottom: 0;
}

@media (max-width: 1200px) {
    .auction {
        display: none;
    }
    .items__all {
        padding-top: 30px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 25px;
    }
    .header {
        &__burger {
            display: block;
        }
        &__nav, &__region, &__user {
            display: none;
        }
        &__logo {
            margin-top: 10px;
        }
    }
    .items {
        &__wp {
            justify-content: space-around;
        }
        &__decor {
            display: none;
        }
        
    }
    .quote__text {
        font-size: 23px;
    }
    .footer__phone {
        font-size: 36px;
    }
    .title {
        font-size: 31px;
        &--small {
            font-size: 18px;
            line-height: 27px;
        }
    }
    .subtitle {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .service {
        & img {
            width: 150px;
            height: 150px;
        }
        &__text {
            padding: 0 4px;
            font-size: 1em;
        }
    }
    #service2 {
        display: none;
    }
    .services__body {
        justify-content: space-around;
    }
}