@import url("nullstyle.css");
@font-face {
	font-family: "Bravo RG";
	src: url('../fonts/ofont.ru_BravoRG.eot');
	src: url('../fonts/ofont.ru_BravoRG.woff') format('woff'), url('../fonts/ofont.ru_BravoRG.ttf') format('truetype'), url('../fonts/ofont.ru_BravoRG.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('../fonts/ofont.ru_PF Din Text Cond Pro.eot');
	src: local('☺'), url('../fonts/ofont.ru_PF Din Text Cond Pro.woff') format('woff'), url('../fonts/ofont.ru_PF Din Text Cond Pro.ttf') format('truetype'), url('../fonts/ofont.ru_PF Din Text Cond Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, a {
    color: #000;
}

.container {
    max-width: 979px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background-color: #1c242a;
    height: 75px;
    text-transform: uppercase;
    &__wp {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        padding-bottom: 12px;
    }
    &__link {
        color: #fff;
        margin: 0 14px;
    }
    &__region {
        color: #fff;
        height: 18px;
        display: flex;
        align-items: center;
        img {
            margin-right: 11px;
        }   
    }
}

.subtitle {
    color: #bb9c66;
    font-family: "Ceremonious One";
    font-size: 40px;
    font-weight: 400;
}

.title {
    color: #fff;
    font-family: "PF Din Text Cond Pro";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.25px;
    text-align: center;
    &--black {
        color: #000;
    }
}

.text {
    color: #fff;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.button {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #bb9c66;
    border-image: linear-gradient(#c3a775 , #8d642e);
    border-image-slice: 1;
    background: transparent;
    &:hover {
        background-color: #bb9c66;
        transition: background-color ease 0.3s;  
    }
    &:active {
        background-color:#8d642e;
        transition: background-color ease 0.3s;  
    }
}


.main {
    &__wp {
    height: 450px;
    width: 100%;
    background-image: url(../img/main__bg.png); 
    background-color: #000;
    text-align: center;
    position: relative;
    }
    &__subtitle {
        padding-top: 34px;
    }
    &__title {
        padding-top: 24px;
    }
    &__text {
        padding-top: 27px;
        max-width: 688px;
        margin: 0 auto;
    }
    &__button {
        margin-top: 58px;
        width: 250px;
        height: 50px;

        font-family: "Idealist Sans";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            background-color: #8d642e;
            transition: background-color ease 0.2s;
        }
        &:active {
            background-color:#775427;
            transition: background-color ease 0.3s;  
        }
    }
    &__figure {
        position: absolute;
        z-index: 2;
        bottom:-35px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.figure {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: block;
}

.auction {
    text-align: center;
    &__lots-wp {
        width: 949px;
        overflow: hidden;
    }
    &__lots {
        width: 949px + 949px + 949px;
        position: relative;
        left: 0;

        transition: left ease 0.5s;
    }
    &__subtitle {
        padding-top: 65px;
    }
    &__title {
        padding-top: 27px;
        color: #000;
    }
    &__border {
        text-align: center;
        padding-top: 21px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        & div:nth-child(3) {
            flex: 0 1 15.8%;
        }
        & .line {
            flex: 0 1 35.3%;
            height: 1px;
            background-color: #bb9c66;
        }
    }
    &__lots {
        padding-left: 22px;
        padding-top: 49px;
        display: flex;
        justify-content: space-between;
    }
    &__lot {
        color: #000;
        flex: 0 1 255px*100%/(949px + 949px + 949px);
    }
    &__nav {
        margin-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            margin: 0 2.5px;
        }
    }
}

.lot {
    &__photo {
        height: 255px;
        border: 2px solid #bb9c66;
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: #bb9c66;
            transition: all ease 0.3s;  
        }
    }
    &__figure {
        position: absolute;
        z-index: 2;
        bottom:-35px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    &__name {
        height: 100px;
        padding-top: 30px;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
    }
    &__price {
        margin-top: 30px;
        height: 100px;
        color: #1c242a;
        font-family: "Bravo RG";
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        line-height: 100px;
        & span {
            font-size: 14px;
        }
    }
    &__button {
        margin-top: 24px;
        width: 203px;
        height: 50px;
        color: #000;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.price {
    &1--bg {
        background-image: url(../img/lots/bg-lot-1.png);
    }
    &2--bg {
        background-image: url(../img/lots/bg-lot-2.png);
    }
    &3--bg {
        background-image: url(../img/lots/bg-lot-3.png);
    }
}

.auction__lots-wrapper {
    position: relative;
}
#button-left {
    position: absolute;
    top: 50%;
    left: -65px;
    transform: translateY(50%);
}
#button-right {
    position: absolute;
    top: 50%;
    right: -65px;
    transform: translateY(50%);
}
.items {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    &__wp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title {
        padding: 40px 0;
    }
    &__decor {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #bb9c66;
    }
}
.item {
    margin-bottom: 30px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: #443c3c;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 25px;
    &:hover {
        background-color: #3a3333; 
        transition: background-color ease 0.3s;   
    }
    &__icon {
        
    }
    &__name {
        padding-top: 30px;
        color: #bb9c66;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.1px;
    }
}
#item {
    &1 {
    background-image: url(../img/items/bg1.png);
    }
    &2 {
    background-image: url(../img/items/bg2.png);
    }
    &3 {
    background-image: url(../img/items/bg3.png);
    }
    &4 {
    background-image: url(../img/items/bg4.png);
    }
    &5 {
    background-image: url(../img/items/bg5.png);
    }
    &6 {
    background-image: url(../img/items/bg6.png);
    }
}

.info {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    &__wp {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__decor {
    }
    &__text {
        padding-left: 40px;
        color: #333333;
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
}